@charset "UTF-8";

nav div {
    text-align: center;
    margin:0;
    border: 1px solid;
    border-right:none;
    width: 20%;
    height: 60px;
    float: left;
    box-sizing: border-box;
}

nav div:last-of-type {border-right: 1px solid;}

.wrapper {
    width: 1000px;
    margin: 0 auto;  /*画面の中央配置*/
    padding: 0 40px;
    box-shadow: 0 0 10px #888;
}

strong{
    color: #444;
    background: linear-gradient(transparent 55%, #ff0 55%);
    padding: 0 2px;
}
h3{background-color: lightpink;}
h3 a{font-size:16px;}

li{font-size:18.72px; font-weight:bold}

nav table{
    border-collapse:collapse;
    border:1px solid;
}
nav td{
    border:1px solid;
    font-size:20px;
}
/*ADD-End zd2B03*/
